<template>
  <div>
    <h1>From Contact Page</h1>
    <DataContact></DataContact>
  </div>
</template>

<script>
import DataContact from "./DataContact.vue";
export default {
  components: { DataContact }
};
</script>

<style></style>
