<template>
  <div>
    <p>My address: {{ address }}</p>
    <hr />
    <button @click="changePhone">Show My Phone</button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      address: "12 Kim Giang, Thanh Xuan, Ha Noi"
    };
  },
  methods: {
    changePhone() {
      this.address = "0981630126";
    }
  }
};
</script>

<style></style>
